[submodule "bounded-integer"]
	path = bounded-integer
	url = https://github.com/davidstone/bounded-integer
[submodule "numeric-traits"]
	path = numeric-traits
	url = https://github.com/davidstone/numeric-traits
[submodule "cmake_strict_defaults"]
	path = cmake_strict_defaults
	url = https://github.com/davidstone/cmake_strict_defaults
[submodule "operators"]
	path = operators
	url = https://github.com/davidstone/operators
