[submodule "bounded_integer"]
	path = bounded_integer
	url = https://bitbucket.org/davidstone/bounded_integer

[submodule "operators"]
	path = operators
	url = https://github.com/davidstone/operators.git
