<?xml version="1.0" encoding="UTF-8" ?>

<settings>

	<!--
		If a directory is specified instead of a file, Technical Machine will
		randomly use a file inside that directory recursively. For instance, if
		you have team files in folders based on tiers, then to use any OU team
		you would put "teams/ou/", but to use your stall team you would put
		"teams/ou/stall.sbt".
	
		For directories, the terminating '/' is optional.

		Relative paths are relative to your executable, not this settings file.
	-->
	<team>teams/</team>

	<servers>
		<server name = "localhost">
			<host>127.0.0.1</host>
			<port>5080</port>
			<username></username>
			<password></password>
		</server>
	</servers>

	<!--
		chattiness determines how often Technical Machine randomly says a line
		from "responses.txt". It occurs with a frequency of 1 / chattiness, so
		a value of 1 will have Technical Machine saying a line every time it
		moves.
	-->
	<chattiness>50</chattiness>

</settings>
