<?xml version="1.0" encoding="utf-8"?>
<settings>
	<!--
		If a directory is specified instead of a file, Technical Machine will
		randomly use a file inside that directory recursively. For instance, if
		you have team files in folders based on tiers, then to use any OU team
		you would put "teams/ou/", but to use your stall team you would put
		"teams/ou/stall.sbt".
	
		For directories, the terminating '/' is optional.

		Relative paths are relative to your executable, not this settings file.
	-->
	<team>teams/</team>
	<servers>
		<server name="Smogon University">
			<host>sim.smogon.com</host>
			<port>8000</port>
			<resource>/showdown/websocket</resource>
			<username></username>
			<password></password>
		</server>
	</servers>
</settings>
